#!/usr/bin/env bash
#
# Copyright 2016 Christopher Antila

case $1 in
    "init"|"initialize")
        source {{ ansible_venv_dir }}/bin/activate
        ansible-playbook -i .inventory .ansible.yml
        ansible-playbook -i .inventory .initialize.yml -t init
    ;;

{% if include_all_commands %}
{% include 'nc_commands.j2' %}
{% endif %}

    *)
{% if include_all_commands %}
printf "{% include 'nc_help_text.j2' %}
\n\n"
;;
{% else %}
printf "{% include 'nc_init_help_text.j2' %}
\n\n"
;;
{% endif %}
esac
