ncoda: Development Environment Setup Program for nCoda

Copyright 2016 Christopher Antila
(GPLv3+)

Commands:
---------
- init                    Bootstrap the nCoda development environment.
  initialize
- run [electron|http]     Start Fujian/Lychee and Julius, either with
                          'electron' (the default) or a web server.
- test [julius|lychee|fujian|mercurial-hug]  Run an automated test suite.
- update [julius|lychee|nc|all] (default 'all') Update, upgrade, or
  upgrade                 synchronize dependencies for these softwares.
  sync
- fetch                   Fetch remote changes for all repositories, but
                          do not update the working copy.
- pull                    Fetch remote changes for all repositories AND
                          update the working copy.
- snapshot                Build a standalone nCoda snapshot (for deployment).
